$primary: #a2a648;
$secondary: #262626;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
);

@each $key, $value in $colors {
  .bg-#{$key} {
    background-color: $value;
  }

  .color-#{$key} {
    color: $value;
  }

  @for $i from 1 through 5 {
    @if lighten($value, 5 * $i) != white {
      .bg-#{$key}-lighten-#{$i} {
        background-color: lighten($value, 5 * $i);
      }

      .color-#{$key}-lighten-#{$i} {
        color: lighten($value, 5 * $i);
      }
    }

    @if darken($value, 5 * $i) != black {
      .bg-#{$key}-darken-#{$i} {
        background-color: darken($value, 5 * $i);
      }

      .color-#{$key}-darken-#{$i} {
        color: darken($value, 5 * $i);
      }
    }
  }
}
