@use "colors" as colors;

@mixin link {
    font-size: 1rem;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@each $key, $value in colors.$colors {
    .link-#{$key} {
        @include link();
        color: $value;
    }
}