//BTN
$btn-base-radius: 12px;

//Layout
$base-padding: 10px;
$base-margin: 10px;
$base-transition: all .3s ease;

//Table
$table-bg-primary: #bbb;
$table-bg-secondary: #dfdfdf;

$base-font: 'Ubuntu', sans-serif;