.login,
.register,
.back {
    font-family: "Ubuntu";
}

.login {
    /* position: relative; */
    /* position: absolute; */
    width: 50%;
    display: inline-block;
}

.register {
    /* position: relative;  */ 
    width: 50%;
    display: inline-block;
    
}