.about__home{
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100%;
}
.about {
    display: flex;
    justify-content: center;
    min-height: 500px;
    height: 60vh;
    width: 100%;
}

.about__content {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.about__text-content,
.about__img-content {
    display: flex;
    flex-basis: 48%;
    align-items: center;
}

.about__text-content {
    align-content: center;
    flex-wrap: wrap;
}

.about__header {
    display: flex;
    flex-basis: 100%;
}

.about__header,
.about__header-title {
    width: 100%;
}

.about__img-content img {
    width: 100%;
    border-radius: 25px;
}

.about__header-title,
.about__description-text,
.about__header-details {
    font-family: "Ubuntu", sans-serif;
    color: #262126;
}

.about__header-title,
.about__header-details {
    font-size: 36px;
}

.about__description-text {
    font-size: 16px;
}

.about__images {
    display: flex;
    height: 50%;
    justify-content: center;
    width: 100%;
}

.about__images-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.about__images-img {
    display: flex;
    flex-basis: 100%;
    align-items: center;
}

.about__img {
    width: 100%;
    min-height: 130x;
    max-height: 175px;
    border-radius: 25px;
    margin: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
    border-radius: 12px;
    border: 3px solid #a2a648;
    padding: 0.1rem;
    transition: all 0.38s;
    cursor: pointer;
}
.about__images-img img:hover {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}
.about__images-img:hover .about__img:not(:hover) {
    opacity:0.6;
}
.about__title-content {
    display: flex;
    justify-content: right;
    min-height: 40px;
    width: 100%;
}
.about__header-details {
    display: flex;
    width: 90%;
}

@media (max-width: 375px) and (orientation: portrait) {
   .about__text-content {
    margin: 1.5rem;
  }
  .about__img-content{
    display: none;
}
}

.about__button {
    border-radius: 12px;
    border: 2px solid #a2a648;
    padding: 1.5rem;
    width: 2.7rem;
    margin: auto;
    min-width: 100px;
    transition: all 0.38s;
    cursor: pointer;
}

.about__button a {
    display: flex;
    align-content: center;
    text-decoration: none;
    color: #262126;
    font-family: var(--font-padrao);
    justify-content: center;
}

.about__button:hover {
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
}