.gastronomy {
    display: flex;
    height: 100vh;
    justify-content: center;
    min-height: 768px;
    width: 100%;
    flex-wrap: wrap;
    background-color: #cbd4c9;
}

.gastronomy_content {
    display: flex;
    flex: 100% 1 1;
    justify-content: space-between;
    width: 80%;
    flex-direction: row;
    margin: 0 9%;
    flex-wrap: wrap;
    align-items: center;
}

.gastronomy_content > div {
    flex: 200px;
    margin-inline: 35px;
}

.gastronomy_left_content,
.gastronomy_right_content {
    display: flex;
    flex-basis: 48%;
    align-items: center;
}

.gastronomy_left_content {
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.gastronomy_title {
    font-family: "Ubuntu";
    color: black;
    text-align: left;
    font-size: 36px;
    align-self: start;
    width: 100%;
}

.gastronomy_description {
    margin-bottom: 4vh;
    font-size: 16px;
    text-align: left;
    font-family: "Ubuntu", sans-serif;
    line-height: 1.2;
}

.gastronomy_button {
    height: 4rem;
    width: 12vw;
    border-radius: 12px;
    border: 2px solid #a2a648;
    transition: all 0.38s;
    cursor: pointer;
    background-color: #b4bb2b;
}

.gastronomy_button:hover {
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
    cursor: pointer;
}

.gastronomy_right_content img {
    border-radius: 25px;
    width: 100%;
}
