.gastronomy {
    display: flex;
    height: 100vh;
    justify-content: center;
    min-height: 768px;
    width: 100%;
    flex-wrap: wrap;
    background-color: #cbd4c9;
}

.gastronomy__content {
    display: flex;
    flex: 100% 1 1;
    justify-content: space-between;
    width: 80%;
    flex-direction: row;
    margin: 0 9%;
    flex-wrap: wrap;
    align-items: center;
}

.gastronomy__content > div {
    flex: 1 1 200px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.gastronomy__left__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.gastronomy__right__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    
    & img {
        min-width: 350px;
        border-radius: 25px;
        width: 100%;
    }
}        

.gastronomy__title {
    font-family: "Ubuntu";
    color: black;
    text-align: left;
    font-size: 36px;
    align-self: start;
    width: 100%;
}

.gastronomy__description {
    margin-bottom: 4vh;
    font-size: 16px;
    text-align: left;
    font-family: "Ubuntu", sans-serif;
    line-height: 1.2;
}

@media (max-width: 550px) and (orientation: portrait) {
    .gastronomy {
        margin-top: 8rem;
        margin-bottom: 4rem;
        min-height: 600px;

        &__content {
            justify-content: center;
        }

        &__right__content img {
            display: none;
        }

        &__title {
            text-align: center;
        }
    }
}