.about {
    display: flex;
    height: 100vh;
    justify-content: center;
    min-height: 768px;
    width: 100%;
}

.about__content {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.about__text-content, .about__img-content {
    display: flex;
    flex-basis: 48%;
    align-items: center;
}

.about__text-content {
    align-content: center;
    flex-wrap: wrap;
}

.about__header {
    display: flex;
    flex-basis: 100%;
}

.about__header .about__header-title {
    width: 100%;
}

.about__img-content img {
    width: 100%;
    border-radius: 25px;
}

.about__header-title, .about__description-text {
    font-family: 'Ubuntu';
    color: #262126;
}

.about__header-title {
    font-size: 36px;
}

.about__description-text {
    font-size: 16px;
}