:root {
  --font-padrao: "Ubuntu", sans-serif;
}

.accommodations {
  display: flex;
  min-height: 768px;
  margin-bottom: 15%;
}

.accommodations_content {
  display: flex;
  height: 100vh;
  width: 85%;
  flex-direction: row-reverse;
  margin: 0 7.2%;
  flex-wrap: wrap;
}

.accommodations_content > div {
  flex: 1 1 200px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.accommodations_text_content,
.accommodations_img_content {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.accommodations_img_content img {
  border-radius: 25px;
  width: 100%;
}

.accommodations_header_title,
.accommodations_description_text {
  font-family: var(--font-padrao);
  color: #262126;
  text-align: left;
}

.accommodations_description {
  /*Excencial para um espaçamento do botão para a imagem em telas mobile.*/
  margin-bottom: 4vh;
}

.accommodations_header_title {
  font-size: 36px;
}

.accommodations_text_description {
  font-size: 16px;
}

.accommodations_button {
  border-radius: 12px;
  border: 2px solid #a2a648;
  padding: 1.5rem;
  width: 2.7rem;
  margin: auto;
  min-width: 100px;
  transition: all 0.38s;
  cursor: pointer;
}

.accommodations_button a {
  display: flex;
  align-content: center;
  text-decoration: none;
  color: #262126;
  font-family: var(--font-padrao);
  justify-content: center;
}

.accommodations_button:hover {
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}
