.accommodations {
  display: flex;
  height: 50vh;
  justify-content: center;
  min-height: 768px;
  width: 100%;
  flex-wrap: wrap;
}

.accommodations_content {
  display: flex;
  flex: 1 1 100%;
  justify-content: space-between;
  width: 80%;
  flex-direction: row-reverse;
  margin: 0 9%;
  flex-wrap: wrap;
}

.accommodations_content > div {
  flex: 1 1 200px;
  margin: 10px;
}

.accommodations_text_content,
.accommodations_img_content {
  display: flex;
  flex-basis: 48%;
  align-items: center;
}

.accommodations_text_content {
  align-content: center;
  flex-wrap: wrap;
}

.accommodations_header {
  display: flex;
  flex-basis: 100%;
}

.accommodations_header .accommodations_header_title {
  width: 100%;
}

.accommodations_img_content img {
  border-radius: 25px;
  width: 100%;
}

.accommodations_header_title,
.accommodations_description_text {
  font-family: "Ubuntu";
  color: #262126;
}

.accommodations_header_title {
  font-size: 36px;
}

.accommodations_description_text {
  font-size: 16px;
  text-align: justify;
}

.accommodations_button {
  border: 2px solid #a2a648;
  vertical-align: middle;
  padding: 24px;
  height: 1rem;
  width: 8vw;
}

.accommodations_button a {
  display: flex;
  align-content: center;
  text-decoration: none;
  color: black;
  font-family: Ubuntu, sans-serif;
  justify-content: center;
}
