.gastronomy {
  display: flex;
  height: 100vh;
  justify-content: center;
  min-height: 768px;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 15%;
  background-color: #cbd4c9;
}

.gastronomy_content {
  display: flex;
  flex: 100% 1 1;
  justify-content: space-between;
  width: 80%;
  flex-direction: row;
  margin: 0 9%;
  flex-wrap: wrap;
}

.gastronomy_content > div {
  flex: 200px;
  margin-left: 35px;
  margin-right: 35px;
}

.gastronomy_text_content,
.gastronomy_img_content {
  display: flex;
  flex-basis: 48%;
  align-items: center;
}

.gastronomy_text_content {
  align-content: center;
  flex-wrap: wrap;
}

.gastronomy_header {
  display: flex;
  flex-basis: 100%;
}

.gastronomy_header .gastronomy_header_title {
  width: 100%;
}

.gastronomy_img_content img {
  border-radius: 25px;
  width: 100%;
}

.gastronomy_header_title,
.gastronomy_description_text {
  font-family: "Ubuntu";
  color: black;
}

.gastronomy_description {
  margin-bottom: 4vh;
}

.gastronomy_header_title {
  text-align: center;
  font-size: 36px;
}

.gastronomy_text_description {
  font-size: 16px;
  text-align: justify;
}

.gastronomy_button {
  border-radius: 12px;
  border: 2px solid #a2a648;
  vertical-align: middle;
  padding: 24px;
  height: 1rem;
  width: 8vw;
  margin: 40px auto auto auto;
  min-width: 100px;
}

.gastronomy_button a {
  display: flex;
  align-content: center;
  text-decoration: none;
  color: black;
  font-family: Ubuntu, sans-serif;
  justify-content: center;
}

.gastronomy_button {
  transition: all 0.38s;
  cursor: pointer;
  background-color: #b4bb2b;
}

.gastronomy_button:hover {
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}

