.header,
.header__content,
.header__logo,
.header__image-logo {
    display: flex;

}

.header {
    flex-wrap: wrap;
    background-color: #262126;
    justify-content: center;

}

.header__content {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header__logo {
    flex-basis: 10%;

}

.header__buttons {
    display: flex;
    flex-basis: 22%;
    justify-content: space-around;
    align-items: center;
}

.header__buttons a img {
    filter: invert(100%);
}

.header__buttons a img:hover {
    filter: none;
}


.header__image-logo {
    width: 100%;
}

.d-none {
    display: none;
}

.header__menu {
    flex-basis: 100%;
    justify-content: center;
    display: flex;
}

.header__menu-list {
    display: flex;
    list-style-type: none;

}

.header__menu-list li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: color .5s ease;

}

.header__menu-list li a:hover {
    color: #a2a648;
}

.btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;

}

.btn img {
    margin-right: 5px;
}

.btn-primary {
    color: white;
    background-color: #a2a648;
    border: 2px solid #a2a648;
    transition: color .5s ease;
}

.btn-primary:hover {
    color: #262126;
}

.btn-second {
    color: white;
    border: 2px solid #a2a648;
    transition: color .5s ease;

}

.btn-second:hover {
    background-color: #a2a648;
    color: #262126;
}

.header__space {
    height: 2px;
    width: 80%;
    background-color: white;
}