@charset "UTF-8";
/* FOOTER */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
html {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

p {
  line-height: 1.4rem;
}

.btn {
  position: relative;
  top: 19%;
  border: 2px solid #a2a648;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  padding: 1.3rem;
  margin: auto;
  min-width: 100px;
  max-width: 150px;
  transition: all 0.38s;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #262126;
  font-family: "Ubuntu", sans-serif;
}
.btn:hover {
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}

.footer {
  background-color: #dedede;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.footer_title {
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_list img {
  width: 50%;
  border-radius: 4px;
  margin-bottom: 15px;
}

.footer_icons a {
  color: #282727;
  font-size: 1.6em;
}

.footer_navigation ul li {
  text-decoration: none;
  list-style: none;
  line-height: 40px;
}

.footer_navigation ul li a {
  color: #282727;
  text-decoration: none;
  list-style: none;
  line-height: 40px;
}

.footer_address h3 {
  color: #000000;
}

.footer_address p {
  color: #282727;
}

.footer_contact h3 {
  color: #282727;
}

.footer_contact p {
  color: #282727;
}

.footer_copy {
  background-color: #cbd4c9;
  color: #000000;
  text-align: center;
  font-weight: bold;
  line-height: 4rem;
}

.header,
.header__content,
.header__logo,
.header__image-logo {
  display: flex;
  font-family: "Ubuntu";
}

.header {
  flex-wrap: wrap;
  background-color: #262126;
  justify-content: center;
}

.header__content {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.header__logo {
  flex-basis: 10%;
}

.header__buttons {
  display: flex;
  flex-basis: 22%;
  justify-content: space-around;
  align-items: center;
}

.header__buttons a img {
  filter: invert(100%);
}

/*
.header__buttons a img:hover {
    filter: none;
}
*/
.header__image-logo {
  width: 100%;
  margin-left: 30%;
}

.d-none {
  display: none;
}

.header__menu {
  flex-basis: 100%;
  justify-content: center;
  display: flex;
}

.header__menu-list {
  display: flex;
  list-style-type: none;
}

.header__menu-list li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  /*transition: color .5s ease; */
  transition: background-color 0.5s ease;
  border-radius: 3px;
  margin: 0px 15px;
}

.header__menu-list li a:hover {
  /*color: #a2a648; */
  background-color: #a2a648;
}

.btn img {
  margin-right: 5px;
}

.btn-primary {
  color: white;
  background-color: #a2a648;
  border: 2px solid #a2a648;
  transition: background-color 0.5s ease;
  transition: border 0.4s ease;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #6f7232;
  border-color: #6f7232;
}

.btn-second {
  color: white;
  border: 2px solid #a2a648;
  transition: background-color 0.5s ease;
}

.btn-second:hover {
  background-color: #363136;
}

.header__space {
  height: 2px;
  width: 80%;
  background-color: white;
}

#item1 {
  background-image: url("/src/assets/images/accommodations/quarto-c4.jpg");
  background-size: cover;
}
#item1 h2:before {
  content: "Quaro C Simples";
  display: block;
  background-color: rgba(38, 33, 38, 0.4);
  color: #fff;
  padding: 1rem 0.5rem;
}

#item2 {
  background-image: url("/src/assets/images/accommodations/quarto-c1.jpg");
  background-size: cover;
}
#item2 h2:before {
  content: "Quarto C Simples Aconchegante";
  display: block;
  background-color: rgba(38, 33, 38, 0.4);
  color: #fff;
  padding: 1rem 0.5rem;
}

#item3 {
  background-image: url("/src/assets/images/accommodations/quarto-c2.jpg");
  background-size: cover;
}
#item3 h2:before {
  content: "Quarto C Simples Confortável++";
  display: block;
  background-color: rgba(38, 33, 38, 0.4);
  color: #fff;
  padding: 1rem 0.5rem;
}

#item4 {
  background-image: url("/src/assets/images/accommodations/quarto-c3.jpg");
  background-size: cover;
}
#item4 h2:before {
  content: "Quarto C Tech";
  display: block;
  background-color: rgba(38, 33, 38, 0.4);
  color: #fff;
  padding: 1rem 0.5rem;
}

#item5 {
  background-image: url("/src/assets/images/accommodations/cafe1.jpg");
  background-size: cover;
}
#item5 h2:before {
  content: "Refeitório para seus cafés";
  display: block;
  background-color: rgba(38, 33, 38, 0.4);
  color: #fff;
  padding: 1rem 0.5rem;
}

#item6 {
  background-image: url("/src/assets/images/accommodations/cafe2.jpg");
  background-size: cover;
}
#item6 h2:before {
  content: "Café com os Amigos";
  display: block;
  background-color: rgba(38, 33, 38, 0.4);
  color: #fff;
  padding: 1rem 0.5rem;
}

#item7 {
  background-image: url("/src/assets/images/accommodations/jogos1.jpg");
  background-size: cover;
}
#item7 h2:before {
  content: "Faça a sua Reserva";
  display: block;
  background-color: rgba(38, 33, 38, 0.4);
  color: #fff;
  padding: 1rem 0.5rem;
}

#item8 {
  background-image: url("/src/assets/images/accommodations/quarto-c-plus-plus.jpg");
  background-size: cover;
}
#item8 h2:before {
  content: "Acomodações C++";
  display: block;
  background-color: rgba(38, 33, 38, 0.4);
  color: #fff;
  padding: 1rem 0.5rem;
}

#item9 {
  background-image: url("/src/assets/images/accommodations/quarto-c-sharp.jpg");
  background-size: cover;
}
#item9 h2:before {
  content: "Acomodações C#";
  display: block;
  background-color: rgba(38, 33, 38, 0.4);
  color: #fff;
  padding: 1rem 0.5rem;
}

.about {
  display: flex;
  height: 50%;
  justify-content: center;
  min-height: 500px;
  width: 100%;
}

.about__content {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.about__text-content,
.about__img-content {
  display: flex;
  flex-basis: 48%;
  align-items: center;
}

.about__text-content {
  align-content: center;
  flex-wrap: wrap;
}

.about__header {
  display: flex;
  flex-basis: 100%;
}

.about__header,
.about__header-title {
  width: 100%;
}

.about__img-content img {
  width: 100%;
  border-radius: 25px;
}

.about__header-title,
.about__description-text,
.about__header-details {
  font-family: "Ubuntu";
  color: #262126;
}

.about__header-title,
.about__header-details {
  font-size: 36px;
}

.about__description-text {
  font-size: 16px;
}

.about__images {
  display: flex;
  height: 50%;
  justify-content: center;
  width: 100%;
}

.about__images-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.about__images-img {
  display: flex;
  flex-basis: 100%;
  align-items: center;
}

.about__images-img img {
  width: 100%;
  min-height: 100px;
  max-height: 150px;
  border-radius: 25px;
  margin: 1%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 4%;
  border-radius: 12px;
  border: 3px solid #a2a648;
  padding: 0.1rem;
  transition: all 0.38s;
  cursor: pointer;
}

.about__images-img img:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.about__title-content {
  display: flex;
  justify-content: right;
  min-height: 40px;
  width: 100%;
}

.about__header-details {
  display: flex;
  width: 90%;
}

@media (max-width: 415px) and (orientation: portrait) {
  .about__img-content,
  .about__images {
    display: none;
  }
}
.about__button {
  border-radius: 12px;
  border: 2px solid #a2a648;
  padding: 1.5rem;
  width: 2.7rem;
  margin: auto;
  min-width: 100px;
  transition: all 0.38s;
  cursor: pointer;
}

.about__button a {
  display: flex;
  align-content: center;
  text-decoration: none;
  color: #262126;
  font-family: var(--font-padrao);
  justify-content: center;
}

.about__button:hover {
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}

.rooms {
  display: flex;
  height: 100vh;
  min-height: 720px;
}

.rooms__menu {
  display: flex;
  height: 10vh;
  flex: 1 1 100%;
  justify-content: space-between;
  width: 80%;
  margin: 0 9%;
  flex-wrap: wrap;
}

.rooms__item {
  display: flex;
  border-bottom: 2px solid #a2a648;
  padding: 0 10px;
  margin-bottom: auto;
}

.rooms__item a {
  display: flex;
  font-family: "Ubuntu", sans-serif;
  justify-content: center;
  text-decoration: none;
  align-content: center;
  color: black;
  height: min-content;
}

.rooms__item:hover {
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}

.rooms__content {
  display: flex;
  align-content: center;
  height: 100vh;
  width: 85%;
  flex-direction: row-reverse;
  margin: 0 7.2%;
  flex-wrap: wrap;
}

.rooms__content > div {
  flex: 1 1 200px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.rooms__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.rooms__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.rooms__img img {
  min-width: 350px;
  border-radius: 25px;
  width: 100%;
}

.rooms__title,
.rooms__text {
  font-family: var(--font-padrao);
  color: #262126;
  text-align: left;
}

.rooms__info {
  /*Excencial para um espaçamento do botão para a imagem em telas mobile.*/
  margin-bottom: 4vh;
}

.rooms__title {
  font-size: 36px;
}

.rooms__text {
  font-size: 16px;
}

/* Media Query */
@media (max-width: 2048) {
  .rooms {
    margin-top: 13rem;
    margin-bottom: 8rem;
  }
}
@media (max-width: 1024px) {
  .rooms {
    margin-top: 10rem;
    margin-bottom: 5rem;
  }
}
@media (max-width: 700px) {
  .rooms {
    margin-top: 11rem;
    margin-bottom: 3rem;
  }
  .rooms__menu {
    display: grid;
    justify-content: center;
    margin: auto;
    border-bottom: 0 10px;
  }
  .rooms__item + div {
    visibility: hidden;
  }
}
@media (max-width: 550px) and (orientation: portrait) {
  .rooms {
    margin-top: 8rem;
    margin-bottom: 4rem;
    min-height: 600px;
  }
  .rooms__content {
    justify-content: center;
  }
  .rooms__img img {
    display: none;
  }
  .rooms__title {
    text-align: center;
  }
}
/* Anotando para não esquecer as alterações, ajustei a  margem para auto para que a borda não ficasse distante do conteúdo, no media query coloquei o display grid, para que os itens ficassem emparelhados ao reduzir a tela, alterei o max-width no emdia query para 590, pois é onde começava a quebrar a nav, e deixei a nav dentro de content, pois estava fora e ficava desalinhado*/
/* Na imagem coloquei um media query visibility hidden para a imagem, pois ela está avançando em Gastronomia, na tela pequena */
.gastronomy {
  display: flex;
  height: 100vh;
  justify-content: center;
  min-height: 768px;
  width: 100%;
  flex-wrap: wrap;
  background-color: #cbd4c9;
}

.gastronomy__content {
  display: flex;
  flex: 100% 1 1;
  justify-content: space-between;
  width: 80%;
  flex-direction: row;
  margin: 0 9%;
  flex-wrap: wrap;
  align-items: center;
}

.gastronomy__content > div {
  flex: 1 1 200px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.gastronomy__left__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.gastronomy__right__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.gastronomy__right__content img {
  min-width: 350px;
  border-radius: 25px;
  width: 100%;
}

.gastronomy__title {
  font-family: "Ubuntu";
  color: black;
  text-align: left;
  font-size: 36px;
  align-self: start;
  width: 100%;
}

.gastronomy__description {
  margin-bottom: 4vh;
  font-size: 16px;
  text-align: left;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.2;
}

@media (max-width: 550px) and (orientation: portrait) {
  .gastronomy {
    margin-top: 8rem;
    margin-bottom: 4rem;
    min-height: 600px;
  }
  .gastronomy__content {
    justify-content: center;
  }
  .gastronomy__right__content img {
    display: none;
  }
  .gastronomy__title {
    text-align: center;
  }
}
.form {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: auto;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}
.form .form__full-name,
.form .form__acommodations,
.form .form__checkin-and-nights,
.form .form__guests-type {
  display: flex;
  flex-basis: 100%;
  margin-bottom: 1em;
}
.form .form__name,
.form .form__last-name,
.form .form__nights,
.form .form__check-in {
  flex-basis: 48%;
}
.form .form__full-name,
.form .form__checkin-and-nights,
.form .form__guests-type {
  justify-content: space-between;
}
.form .form__adult,
.form .form__child,
.form .form__infants {
  flex-basis: 30%;
}
.form .form__name,
.form .form__last-name,
.form .form__acommodations,
.form .form__check-in,
.form .form__nights,
.form .form__adult,
.form .form__child,
.form .form__infants {
  display: flex;
  flex-wrap: wrap;
}
.form div label,
.form div input,
.form div select {
  flex-basis: 100%;
  border: none;
  line-height: 2.4em;
  height: 2.4em;
  padding: 0;
  font-size: 16px;
}
.form div input:focus,
.form div select:focus {
  outline: none;
  border-color: #262126;
}
.form .form__name input,
.form .form__last-name input,
.form .form__acommodations select,
.form .form__check-in input,
.form .form__nights input,
.form .form__adult select,
.form .form__child select,
.form .form__infants select {
  background-color: #eee;
  border-bottom: 2px solid #978797;
}
.form input[type=submit] {
  border: none;
  font-size: 16px;
}
.form .form__btn {
  margin: 1em auto 0;
}
.form .btn {
  height: 50px;
  padding: 0 80px;
  background-color: transparent;
}
.form .btn-primary {
  background-color: #a2a648;
  color: white;
}

.login,
.login__login,
.login__register {
  display: flex;
  font-family: "Ubuntu";
}

.body__login {
  background-image: linear-gradient(#262126, #dedede);
}

.login {
  flex-wrap: nowrap;
  margin-top: 2%;
  margin-bottom: 5%;
  color: white;
}

.login__login {
  margin-left: 10%;
  width: 50%;
  display: block;
}

label:after {
  content: " *";
  color: red;
}

label {
  margin-bottom: 20px;
}

.login__register {
  width: 50%;
  display: block;
}

input {
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  margin-top: 15px;
  width: 70%;
  height: 35px;
}

.btn__login,
.btn__register {
  display: block;
  background-color: #a2a648;
  color: white;
  text-shadow: 0.5px 0.5px 0px black;
  transition: background-color 0.5s ease;
  width: 90px;
  border-radius: 3px;
  border: none;
  height: 40px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.btn__login:hover,
.btn__register:hover {
  background-color: #6f7232;
}

::placeholder {
  color: #dedede;
}

/*# sourceMappingURL=main.css.map */
