@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.bg-primary {
  background-color: #a2a648;
}

.color-primary {
  color: #a2a648;
}

.bg-primary-lighten-1 {
  background-color: #b0b453;
}

.color-primary-lighten-1 {
  color: #b0b453;
}

.bg-primary-darken-1 {
  background-color: #919440;
}

.color-primary-darken-1 {
  color: #919440;
}

.bg-primary-lighten-2 {
  background-color: #b8bc65;
}

.color-primary-lighten-2 {
  color: #b8bc65;
}

.bg-primary-darken-2 {
  background-color: #7f8239;
}

.color-primary-darken-2 {
  color: #7f8239;
}

.bg-primary-lighten-3 {
  background-color: #c1c477;
}

.color-primary-lighten-3 {
  color: #c1c477;
}

.bg-primary-darken-3 {
  background-color: #6e7131;
}

.color-primary-darken-3 {
  color: #6e7131;
}

.bg-primary-lighten-4 {
  background-color: #c9cc88;
}

.color-primary-lighten-4 {
  color: #c9cc88;
}

.bg-primary-darken-4 {
  background-color: #5d5f29;
}

.color-primary-darken-4 {
  color: #5d5f29;
}

.bg-primary-lighten-5 {
  background-color: #d1d39a;
}

.color-primary-lighten-5 {
  color: #d1d39a;
}

.bg-primary-darken-5 {
  background-color: #4b4d21;
}

.color-primary-darken-5 {
  color: #4b4d21;
}

.bg-primary-lighten-6 {
  background-color: #d9dbac;
}

.color-primary-lighten-6 {
  color: #d9dbac;
}

.bg-primary-darken-6 {
  background-color: #3a3b1a;
}

.color-primary-darken-6 {
  color: #3a3b1a;
}

.bg-secondary {
  background-color: #262626;
}

.color-secondary {
  color: #262626;
}

.bg-secondary-lighten-1 {
  background-color: #333333;
}

.color-secondary-lighten-1 {
  color: #333333;
}

.bg-secondary-darken-1 {
  background-color: #191919;
}

.color-secondary-darken-1 {
  color: #191919;
}

.bg-secondary-lighten-2 {
  background-color: #404040;
}

.color-secondary-lighten-2 {
  color: #404040;
}

.bg-secondary-darken-2 {
  background-color: #0d0d0d;
}

.color-secondary-darken-2 {
  color: #0d0d0d;
}

.bg-secondary-lighten-3 {
  background-color: #4c4c4c;
}

.color-secondary-lighten-3 {
  color: #4c4c4c;
}

.bg-secondary-lighten-4 {
  background-color: #595959;
}

.color-secondary-lighten-4 {
  color: #595959;
}

.bg-secondary-lighten-5 {
  background-color: #666666;
}

.color-secondary-lighten-5 {
  color: #666666;
}

.bg-secondary-lighten-6 {
  background-color: #737373;
}

.color-secondary-lighten-6 {
  color: #737373;
}

.bg-grey {
  background-color: #aaaaaa;
}

.color-grey {
  color: #aaaaaa;
}

.bg-grey-lighten-1 {
  background-color: #b7b7b7;
}

.color-grey-lighten-1 {
  color: #b7b7b7;
}

.bg-grey-darken-1 {
  background-color: #9d9d9d;
}

.color-grey-darken-1 {
  color: #9d9d9d;
}

.bg-grey-lighten-2 {
  background-color: #c4c4c4;
}

.color-grey-lighten-2 {
  color: #c4c4c4;
}

.bg-grey-darken-2 {
  background-color: #919191;
}

.color-grey-darken-2 {
  color: #919191;
}

.bg-grey-lighten-3 {
  background-color: #d0d0d0;
}

.color-grey-lighten-3 {
  color: #d0d0d0;
}

.bg-grey-darken-3 {
  background-color: #848484;
}

.color-grey-darken-3 {
  color: #848484;
}

.bg-grey-lighten-4 {
  background-color: #dddddd;
}

.color-grey-lighten-4 {
  color: #dddddd;
}

.bg-grey-darken-4 {
  background-color: #777777;
}

.color-grey-darken-4 {
  color: #777777;
}

.bg-grey-lighten-5 {
  background-color: #eaeaea;
}

.color-grey-lighten-5 {
  color: #eaeaea;
}

.bg-grey-darken-5 {
  background-color: #6a6a6a;
}

.color-grey-darken-5 {
  color: #6a6a6a;
}

.bg-grey-lighten-6 {
  background-color: #f7f7f7;
}

.color-grey-lighten-6 {
  color: #f7f7f7;
}

.bg-grey-darken-6 {
  background-color: #5e5e5e;
}

.color-grey-darken-6 {
  color: #5e5e5e;
}

.bg-white {
  background-color: white;
}

.color-white {
  color: white;
}

.bg-white-darken-1 {
  background-color: #f2f2f2;
}

.color-white-darken-1 {
  color: #f2f2f2;
}

.bg-white-darken-2 {
  background-color: #e6e6e6;
}

.color-white-darken-2 {
  color: #e6e6e6;
}

.bg-white-darken-3 {
  background-color: #d9d9d9;
}

.color-white-darken-3 {
  color: #d9d9d9;
}

.bg-white-darken-4 {
  background-color: #cccccc;
}

.color-white-darken-4 {
  color: #cccccc;
}

.bg-white-darken-5 {
  background-color: #bfbfbf;
}

.color-white-darken-5 {
  color: #bfbfbf;
}

.bg-white-darken-6 {
  background-color: #b3b3b3;
}

.color-white-darken-6 {
  color: #b3b3b3;
}

.bg-red {
  background-color: red;
}

.color-red {
  color: red;
}

.bg-red-lighten-1 {
  background-color: #ff1a1a;
}

.color-red-lighten-1 {
  color: #ff1a1a;
}

.bg-red-darken-1 {
  background-color: #e60000;
}

.color-red-darken-1 {
  color: #e60000;
}

.bg-red-lighten-2 {
  background-color: #ff3333;
}

.color-red-lighten-2 {
  color: #ff3333;
}

.bg-red-darken-2 {
  background-color: #cc0000;
}

.color-red-darken-2 {
  color: #cc0000;
}

.bg-red-lighten-3 {
  background-color: #ff4d4d;
}

.color-red-lighten-3 {
  color: #ff4d4d;
}

.bg-red-darken-3 {
  background-color: #b30000;
}

.color-red-darken-3 {
  color: #b30000;
}

.bg-red-lighten-4 {
  background-color: #ff6666;
}

.color-red-lighten-4 {
  color: #ff6666;
}

.bg-red-darken-4 {
  background-color: #990000;
}

.color-red-darken-4 {
  color: #990000;
}

.bg-red-lighten-5 {
  background-color: #ff8080;
}

.color-red-lighten-5 {
  color: #ff8080;
}

.bg-red-darken-5 {
  background-color: maroon;
}

.color-red-darken-5 {
  color: maroon;
}

.bg-red-lighten-6 {
  background-color: #ff9999;
}

.color-red-lighten-6 {
  color: #ff9999;
}

.bg-red-darken-6 {
  background-color: #660000;
}

.color-red-darken-6 {
  color: #660000;
}

.bg-green {
  background-color: green;
}

.color-green {
  color: green;
}

.bg-green-lighten-1 {
  background-color: #009a00;
}

.color-green-lighten-1 {
  color: #009a00;
}

.bg-green-darken-1 {
  background-color: #006700;
}

.color-green-darken-1 {
  color: #006700;
}

.bg-green-lighten-2 {
  background-color: #00b300;
}

.color-green-lighten-2 {
  color: #00b300;
}

.bg-green-darken-2 {
  background-color: #004d00;
}

.color-green-darken-2 {
  color: #004d00;
}

.bg-green-lighten-3 {
  background-color: #00cd00;
}

.color-green-lighten-3 {
  color: #00cd00;
}

.bg-green-darken-3 {
  background-color: #003400;
}

.color-green-darken-3 {
  color: #003400;
}

.bg-green-lighten-4 {
  background-color: #00e600;
}

.color-green-lighten-4 {
  color: #00e600;
}

.bg-green-darken-4 {
  background-color: #001a00;
}

.color-green-darken-4 {
  color: #001a00;
}

.bg-green-lighten-5 {
  background-color: #01ff01;
}

.color-green-lighten-5 {
  color: #01ff01;
}

.bg-green-darken-5 {
  background-color: #000100;
}

.color-green-darken-5 {
  color: #000100;
}

.bg-green-lighten-6 {
  background-color: #1aff1a;
}

.color-green-lighten-6 {
  color: #1aff1a;
}

.bg-yellow {
  background-color: yellow;
}

.color-yellow {
  color: yellow;
}

.bg-yellow-lighten-1 {
  background-color: #ffff1a;
}

.color-yellow-lighten-1 {
  color: #ffff1a;
}

.bg-yellow-darken-1 {
  background-color: #e6e600;
}

.color-yellow-darken-1 {
  color: #e6e600;
}

.bg-yellow-lighten-2 {
  background-color: #ffff33;
}

.color-yellow-lighten-2 {
  color: #ffff33;
}

.bg-yellow-darken-2 {
  background-color: #cccc00;
}

.color-yellow-darken-2 {
  color: #cccc00;
}

.bg-yellow-lighten-3 {
  background-color: #ffff4d;
}

.color-yellow-lighten-3 {
  color: #ffff4d;
}

.bg-yellow-darken-3 {
  background-color: #b3b300;
}

.color-yellow-darken-3 {
  color: #b3b300;
}

.bg-yellow-lighten-4 {
  background-color: #ffff66;
}

.color-yellow-lighten-4 {
  color: #ffff66;
}

.bg-yellow-darken-4 {
  background-color: #999900;
}

.color-yellow-darken-4 {
  color: #999900;
}

.bg-yellow-lighten-5 {
  background-color: #ffff80;
}

.color-yellow-lighten-5 {
  color: #ffff80;
}

.bg-yellow-darken-5 {
  background-color: olive;
}

.color-yellow-darken-5 {
  color: olive;
}

.bg-yellow-lighten-6 {
  background-color: #ffff99;
}

.color-yellow-lighten-6 {
  color: #ffff99;
}

.bg-yellow-darken-6 {
  background-color: #666600;
}

.color-yellow-darken-6 {
  color: #666600;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  line-height: 1.4em;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.font-size-small {
  font-size: 12.8px;
}

.font-size-regular {
  font-size: 16px;
}

.font-size-large {
  font-size: 32px;
}

.font-size-extra-large {
  font-size: 48px;
}

.container {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.img {
  height: auto;
  display: block;
  border-radius: 12px;
}

.d-none {
  display: none;
}

.pd-0 {
  padding: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.md-0 {
  margin: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.ml-0 {
  margin-left: 0px;
}

.mr-0 {
  margin-right: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.pd-1 {
  padding: 10px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pl-1 {
  padding-left: 10px;
}

.pr-1 {
  padding-right: 10px;
}

.pt-1 {
  padding-top: 10px;
}

.md-1 {
  margin: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

.ml-1 {
  margin-left: 10px;
}

.mr-1 {
  margin-right: 10px;
}

.mt-1 {
  margin-top: 10px;
}

.pd-2 {
  padding: 20px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pl-2 {
  padding-left: 20px;
}

.pr-2 {
  padding-right: 20px;
}

.pt-2 {
  padding-top: 20px;
}

.md-2 {
  margin: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

.ml-2 {
  margin-left: 20px;
}

.mr-2 {
  margin-right: 20px;
}

.mt-2 {
  margin-top: 20px;
}

.pd-3 {
  padding: 30px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pl-3 {
  padding-left: 30px;
}

.pr-3 {
  padding-right: 30px;
}

.pt-3 {
  padding-top: 30px;
}

.md-3 {
  margin: 30px;
}

.mb-3 {
  margin-bottom: 30px;
}

.ml-3 {
  margin-left: 30px;
}

.mr-3 {
  margin-right: 30px;
}

.mt-3 {
  margin-top: 30px;
}

.pd-4 {
  padding: 40px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pl-4 {
  padding-left: 40px;
}

.pr-4 {
  padding-right: 40px;
}

.pt-4 {
  padding-top: 40px;
}

.md-4 {
  margin: 40px;
}

.mb-4 {
  margin-bottom: 40px;
}

.ml-4 {
  margin-left: 40px;
}

.mr-4 {
  margin-right: 40px;
}

.mt-4 {
  margin-top: 40px;
}

.pd-5 {
  padding: 50px;
}

.pb-5 {
  padding-bottom: 50px;
}

.pl-5 {
  padding-left: 50px;
}

.pr-5 {
  padding-right: 50px;
}

.pt-5 {
  padding-top: 50px;
}

.md-5 {
  margin: 50px;
}

.mb-5 {
  margin-bottom: 50px;
}

.ml-5 {
  margin-left: 50px;
}

.mr-5 {
  margin-right: 50px;
}

.mt-5 {
  margin-top: 50px;
}

.pd-6 {
  padding: 60px;
}

.pb-6 {
  padding-bottom: 60px;
}

.pl-6 {
  padding-left: 60px;
}

.pr-6 {
  padding-right: 60px;
}

.pt-6 {
  padding-top: 60px;
}

.md-6 {
  margin: 60px;
}

.mb-6 {
  margin-bottom: 60px;
}

.ml-6 {
  margin-left: 60px;
}

.mr-6 {
  margin-right: 60px;
}

.mt-6 {
  margin-top: 60px;
}

.link-under-yellow, .link-yellow, .link-under-green, .link-green, .link-under-red, .link-red, .link-under-white, .link-white, .link-under-grey, .link-grey, .link-under-secondary, .link-secondary, .link-under-primary, .link-primary {
  font-size: 1rem;
  background-color: transparent;
  border: none;
}

.link-primary {
  text-decoration: none;
  color: #a2a648;
}
.link-primary:hover {
  text-decoration: underline;
}

.link-under-primary {
  text-decoration: underline;
}
.link-under-primary:hover {
  color: #a2a648;
}

.link-secondary {
  text-decoration: none;
  color: #262626;
}
.link-secondary:hover {
  text-decoration: underline;
}

.link-under-secondary {
  text-decoration: underline;
}
.link-under-secondary:hover {
  color: #262626;
}

.link-grey {
  text-decoration: none;
  color: #aaaaaa;
}
.link-grey:hover {
  text-decoration: underline;
}

.link-under-grey {
  text-decoration: underline;
}
.link-under-grey:hover {
  color: #aaaaaa;
}

.link-white {
  text-decoration: none;
  color: white;
}
.link-white:hover {
  text-decoration: underline;
}

.link-under-white {
  text-decoration: underline;
}
.link-under-white:hover {
  color: white;
}

.link-red {
  text-decoration: none;
  color: red;
}
.link-red:hover {
  text-decoration: underline;
}

.link-under-red {
  text-decoration: underline;
}
.link-under-red:hover {
  color: red;
}

.link-green {
  text-decoration: none;
  color: green;
}
.link-green:hover {
  text-decoration: underline;
}

.link-under-green {
  text-decoration: underline;
}
.link-under-green:hover {
  color: green;
}

.link-yellow {
  text-decoration: none;
  color: yellow;
}
.link-yellow:hover {
  text-decoration: underline;
}

.link-under-yellow {
  text-decoration: underline;
}
.link-under-yellow:hover {
  color: yellow;
}

@media (min-width: 0) {
  .col-1-xs {
    width: 8.3333333333%;
  }
  .col-2-xs {
    width: 16.6666666667%;
  }
  .col-3-xs {
    width: 25%;
  }
  .col-4-xs {
    width: 33.3333333333%;
  }
  .col-5-xs {
    width: 41.6666666667%;
  }
  .col-6-xs {
    width: 50%;
  }
  .col-7-xs {
    width: 58.3333333333%;
  }
  .col-8-xs {
    width: 66.6666666667%;
  }
  .col-9-xs {
    width: 75%;
  }
  .col-10-xs {
    width: 83.3333333333%;
  }
  .col-11-xs {
    width: 91.6666666667%;
  }
  .col-12-xs {
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    width: 8.3333333333%;
  }
  .col-2-sm {
    width: 16.6666666667%;
  }
  .col-3-sm {
    width: 25%;
  }
  .col-4-sm {
    width: 33.3333333333%;
  }
  .col-5-sm {
    width: 41.6666666667%;
  }
  .col-6-sm {
    width: 50%;
  }
  .col-7-sm {
    width: 58.3333333333%;
  }
  .col-8-sm {
    width: 66.6666666667%;
  }
  .col-9-sm {
    width: 75%;
  }
  .col-10-sm {
    width: 83.3333333333%;
  }
  .col-11-sm {
    width: 91.6666666667%;
  }
  .col-12-sm {
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    width: 8.3333333333%;
  }
  .col-2-md {
    width: 16.6666666667%;
  }
  .col-3-md {
    width: 25%;
  }
  .col-4-md {
    width: 33.3333333333%;
  }
  .col-5-md {
    width: 41.6666666667%;
  }
  .col-6-md {
    width: 50%;
  }
  .col-7-md {
    width: 58.3333333333%;
  }
  .col-8-md {
    width: 66.6666666667%;
  }
  .col-9-md {
    width: 75%;
  }
  .col-10-md {
    width: 83.3333333333%;
  }
  .col-11-md {
    width: 91.6666666667%;
  }
  .col-12-md {
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    width: 8.3333333333%;
  }
  .col-2-lg {
    width: 16.6666666667%;
  }
  .col-3-lg {
    width: 25%;
  }
  .col-4-lg {
    width: 33.3333333333%;
  }
  .col-5-lg {
    width: 41.6666666667%;
  }
  .col-6-lg {
    width: 50%;
  }
  .col-7-lg {
    width: 58.3333333333%;
  }
  .col-8-lg {
    width: 66.6666666667%;
  }
  .col-9-lg {
    width: 75%;
  }
  .col-10-lg {
    width: 83.3333333333%;
  }
  .col-11-lg {
    width: 91.6666666667%;
  }
  .col-12-lg {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    width: 8.3333333333%;
  }
  .col-2-xl {
    width: 16.6666666667%;
  }
  .col-3-xl {
    width: 25%;
  }
  .col-4-xl {
    width: 33.3333333333%;
  }
  .col-5-xl {
    width: 41.6666666667%;
  }
  .col-6-xl {
    width: 50%;
  }
  .col-7-xl {
    width: 58.3333333333%;
  }
  .col-8-xl {
    width: 66.6666666667%;
  }
  .col-9-xl {
    width: 75%;
  }
  .col-10-xl {
    width: 83.3333333333%;
  }
  .col-11-xl {
    width: 91.6666666667%;
  }
  .col-12-xl {
    width: 100%;
  }
}
.gap-1 {
  gap: 10px;
}

.gap-2 {
  gap: 20px;
}

.gap-3 {
  gap: 30px;
}

.j-flex-start {
  justify-content: flex-start;
}

.a-flex-start {
  align-content: flex-start;
}

.j-flex-end {
  justify-content: flex-end;
}

.a-flex-end {
  align-content: flex-end;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-content: center;
}

.j-space-between {
  justify-content: space-between;
}

.a-space-between {
  align-content: space-between;
}

.j-space-around {
  justify-content: space-around;
}

.a-space-around {
  align-content: space-around;
}

.j-space-evenly {
  justify-content: space-evenly;
}

.a-space-evenly {
  align-content: space-evenly;
}

.j-item-flex-start {
  justify-items: flex-start;
}

.a-item-flex-start {
  align-items: flex-start;
}

.j-item-flex-end {
  justify-items: flex-end;
}

.a-item-flex-end {
  align-items: flex-end;
}

.j-item-center {
  justify-items: center;
}

.a-item-center {
  align-items: center;
}

.btn-primary {
  display: block;
  text-decoration: none;
  background-color: #a2a648;
  padding: 10px 20px;
  border: 2px solid #a2a648;
  border-radius: 12px;
  width: fit-content;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.btn-primary:focus {
  outline: none;
  box-shadow: none;
}
.btn-primary:hover {
  transform: scale(1.08);
}

.btn-primary-wbg {
  display: block;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid #a2a648;
  border-radius: 12px;
  width: fit-content;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.btn-primary-wbg:focus {
  outline: none;
  box-shadow: none;
}
.btn-primary-wbg:hover {
  transform: scale(1.08);
}

.btn-primary-flat {
  display: block;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid #a2a648;
  border-radius: 12px;
  width: fit-content;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.btn-primary-flat:focus {
  outline: none;
  box-shadow: none;
}
.btn-primary-flat:hover {
  transform: scale(1.08);
}

.btn-secondary {
  display: block;
  text-decoration: none;
  background-color: #262626;
  padding: 10px 20px;
  border: 2px solid #262626;
  border-radius: 12px;
  width: fit-content;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.btn-secondary:focus {
  outline: none;
  box-shadow: none;
}
.btn-secondary:hover {
  transform: scale(1.08);
}

.btn-secondary-wbg {
  display: block;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid #262626;
  border-radius: 12px;
  width: fit-content;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.btn-secondary-wbg:focus {
  outline: none;
  box-shadow: none;
}
.btn-secondary-wbg:hover {
  transform: scale(1.08);
}

.btn-secondary-flat {
  display: block;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid #262626;
  border-radius: 12px;
  width: fit-content;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.btn-secondary-flat:focus {
  outline: none;
  box-shadow: none;
}
.btn-secondary-flat:hover {
  transform: scale(1.08);
}

.btn-grey {
  display: block;
  text-decoration: none;
  background-color: #aaaaaa;
  padding: 10px 20px;
  border: 2px solid #aaaaaa;
  border-radius: 12px;
  width: fit-content;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.btn-grey:focus {
  outline: none;
  box-shadow: none;
}
.btn-grey:hover {
  transform: scale(1.08);
}

.btn-grey-wbg {
  display: block;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid #aaaaaa;
  border-radius: 12px;
  width: fit-content;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.btn-grey-wbg:focus {
  outline: none;
  box-shadow: none;
}
.btn-grey-wbg:hover {
  transform: scale(1.08);
}

.btn-grey-flat {
  display: block;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid #aaaaaa;
  border-radius: 12px;
  width: fit-content;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.btn-grey-flat:focus {
  outline: none;
  box-shadow: none;
}
.btn-grey-flat:hover {
  transform: scale(1.08);
}

.btn-white {
  display: block;
  text-decoration: none;
  background-color: white;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 12px;
  width: fit-content;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.btn-white:focus {
  outline: none;
  box-shadow: none;
}
.btn-white:hover {
  transform: scale(1.08);
}

.btn-white-wbg {
  display: block;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 12px;
  width: fit-content;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.btn-white-wbg:focus {
  outline: none;
  box-shadow: none;
}
.btn-white-wbg:hover {
  transform: scale(1.08);
}

.btn-white-flat {
  display: block;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 12px;
  width: fit-content;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.btn-white-flat:focus {
  outline: none;
  box-shadow: none;
}
.btn-white-flat:hover {
  transform: scale(1.08);
}

.btn-red {
  display: block;
  text-decoration: none;
  background-color: red;
  padding: 10px 20px;
  border: 2px solid red;
  border-radius: 12px;
  width: fit-content;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.btn-red:focus {
  outline: none;
  box-shadow: none;
}
.btn-red:hover {
  transform: scale(1.08);
}

.btn-red-wbg {
  display: block;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid red;
  border-radius: 12px;
  width: fit-content;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.btn-red-wbg:focus {
  outline: none;
  box-shadow: none;
}
.btn-red-wbg:hover {
  transform: scale(1.08);
}

.btn-red-flat {
  display: block;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid red;
  border-radius: 12px;
  width: fit-content;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.btn-red-flat:focus {
  outline: none;
  box-shadow: none;
}
.btn-red-flat:hover {
  transform: scale(1.08);
}

.btn-green {
  display: block;
  text-decoration: none;
  background-color: green;
  padding: 10px 20px;
  border: 2px solid green;
  border-radius: 12px;
  width: fit-content;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.btn-green:focus {
  outline: none;
  box-shadow: none;
}
.btn-green:hover {
  transform: scale(1.08);
}

.btn-green-wbg {
  display: block;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid green;
  border-radius: 12px;
  width: fit-content;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.btn-green-wbg:focus {
  outline: none;
  box-shadow: none;
}
.btn-green-wbg:hover {
  transform: scale(1.08);
}

.btn-green-flat {
  display: block;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid green;
  border-radius: 12px;
  width: fit-content;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.btn-green-flat:focus {
  outline: none;
  box-shadow: none;
}
.btn-green-flat:hover {
  transform: scale(1.08);
}

.btn-yellow {
  display: block;
  text-decoration: none;
  background-color: yellow;
  padding: 10px 20px;
  border: 2px solid yellow;
  border-radius: 12px;
  width: fit-content;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.btn-yellow:focus {
  outline: none;
  box-shadow: none;
}
.btn-yellow:hover {
  transform: scale(1.08);
}

.btn-yellow-wbg {
  display: block;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid yellow;
  border-radius: 12px;
  width: fit-content;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.btn-yellow-wbg:focus {
  outline: none;
  box-shadow: none;
}
.btn-yellow-wbg:hover {
  transform: scale(1.08);
}

.btn-yellow-flat {
  display: block;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid yellow;
  border-radius: 12px;
  width: fit-content;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.btn-yellow-flat:focus {
  outline: none;
  box-shadow: none;
}
.btn-yellow-flat:hover {
  transform: scale(1.08);
}

.table-primary {
  border: none;
  border-spacing: 0;
  text-align: center;
}
.table-primary tr {
  transition: all 0.3s ease;
}
.table-primary tr:nth-child(odd) {
  border: none;
  background-color: #d9dbac;
}
.table-primary tr:nth-child(even) {
  border: none;
  background-color: #e9ead0;
}
.table-primary tr:first-child {
  background-color: #b8bc65;
}
.table-primary tr:hover:not(tr:first-child) {
  background-color: #c9cc88;
}
.table-primary th {
  border: none;
  padding: 10px;
}
.table-primary td {
  border: none;
  padding: 10px;
}

.table-secondary {
  border: none;
  border-spacing: 0;
  text-align: center;
}
.table-secondary tr {
  transition: all 0.3s ease;
}
.table-secondary tr:nth-child(odd) {
  border: none;
  background-color: #737373;
}
.table-secondary tr:nth-child(even) {
  border: none;
  background-color: #8c8c8c;
}
.table-secondary tr:first-child {
  background-color: #404040;
}
.table-secondary tr:hover:not(tr:first-child) {
  background-color: #595959;
}
.table-secondary th {
  border: none;
  padding: 10px;
}
.table-secondary td {
  border: none;
  padding: 10px;
}

.table-grey {
  border: none;
  border-spacing: 0;
  text-align: center;
}
.table-grey tr {
  transition: all 0.3s ease;
}
.table-grey tr:nth-child(odd) {
  border: none;
  background-color: #f7f7f7;
}
.table-grey tr:nth-child(even) {
  border: none;
  background-color: white;
}
.table-grey tr:first-child {
  background-color: #c4c4c4;
}
.table-grey tr:hover:not(tr:first-child) {
  background-color: #dddddd;
}
.table-grey th {
  border: none;
  padding: 10px;
}
.table-grey td {
  border: none;
  padding: 10px;
}

.table-white {
  border: none;
  border-spacing: 0;
  text-align: center;
}
.table-white tr {
  transition: all 0.3s ease;
}
.table-white tr:nth-child(odd) {
  border: none;
  background-color: white;
}
.table-white tr:nth-child(even) {
  border: none;
  background-color: white;
}
.table-white tr:first-child {
  background-color: white;
}
.table-white tr:hover:not(tr:first-child) {
  background-color: white;
}
.table-white th {
  border: none;
  padding: 10px;
}
.table-white td {
  border: none;
  padding: 10px;
}

.table-red {
  border: none;
  border-spacing: 0;
  text-align: center;
}
.table-red tr {
  transition: all 0.3s ease;
}
.table-red tr:nth-child(odd) {
  border: none;
  background-color: #ff9999;
}
.table-red tr:nth-child(even) {
  border: none;
  background-color: #ffcccc;
}
.table-red tr:first-child {
  background-color: #ff3333;
}
.table-red tr:hover:not(tr:first-child) {
  background-color: #ff6666;
}
.table-red th {
  border: none;
  padding: 10px;
}
.table-red td {
  border: none;
  padding: 10px;
}

.table-green {
  border: none;
  border-spacing: 0;
  text-align: center;
}
.table-green tr {
  transition: all 0.3s ease;
}
.table-green tr:nth-child(odd) {
  border: none;
  background-color: #1aff1a;
}
.table-green tr:nth-child(even) {
  border: none;
  background-color: #4dff4d;
}
.table-green tr:first-child {
  background-color: #00b300;
}
.table-green tr:hover:not(tr:first-child) {
  background-color: #00e600;
}
.table-green th {
  border: none;
  padding: 10px;
}
.table-green td {
  border: none;
  padding: 10px;
}

.table-yellow {
  border: none;
  border-spacing: 0;
  text-align: center;
}
.table-yellow tr {
  transition: all 0.3s ease;
}
.table-yellow tr:nth-child(odd) {
  border: none;
  background-color: #ffff99;
}
.table-yellow tr:nth-child(even) {
  border: none;
  background-color: #ffffcc;
}
.table-yellow tr:first-child {
  background-color: #ffff33;
}
.table-yellow tr:hover:not(tr:first-child) {
  background-color: #ffff66;
}
.table-yellow th {
  border: none;
  padding: 10px;
}
.table-yellow td {
  border: none;
  padding: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  align-content: center;
  padding: 10px;
}
.header .header__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  align-content: center;
  padding: 10px 0;
  justify-content: space-between;
  width: 100%;
}
.header .header__main .header__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  align-content: center;
}

.nav-menu-primary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  align-content: center;
  width: 100%;
}
.nav-menu-primary ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  align-content: center;
  padding: 10px 0;
  width: 100%;
  gap: 20px;
  justify-content: center;
}
.nav-menu-primary ul li a {
  transition: all 0.3s ease;
}
.nav-menu-primary ul li a:hover {
  color: #a2a648;
}

.nav-menu-secondary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  align-content: center;
  width: 100%;
}
.nav-menu-secondary ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  align-content: center;
  padding: 10px 0;
  width: 100%;
  gap: 20px;
  justify-content: center;
}
.nav-menu-secondary ul li a {
  transition: all 0.3s ease;
}
.nav-menu-secondary ul li a:hover {
  color: #262626;
}

.nav-menu-grey {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  align-content: center;
  width: 100%;
}
.nav-menu-grey ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  align-content: center;
  padding: 10px 0;
  width: 100%;
  gap: 20px;
  justify-content: center;
}
.nav-menu-grey ul li a {
  transition: all 0.3s ease;
}
.nav-menu-grey ul li a:hover {
  color: #aaaaaa;
}

.nav-menu-white {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  align-content: center;
  width: 100%;
}
.nav-menu-white ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  align-content: center;
  padding: 10px 0;
  width: 100%;
  gap: 20px;
  justify-content: center;
}
.nav-menu-white ul li a {
  transition: all 0.3s ease;
}
.nav-menu-white ul li a:hover {
  color: white;
}

.nav-menu-red {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  align-content: center;
  width: 100%;
}
.nav-menu-red ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  align-content: center;
  padding: 10px 0;
  width: 100%;
  gap: 20px;
  justify-content: center;
}
.nav-menu-red ul li a {
  transition: all 0.3s ease;
}
.nav-menu-red ul li a:hover {
  color: red;
}

.nav-menu-green {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  align-content: center;
  width: 100%;
}
.nav-menu-green ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  align-content: center;
  padding: 10px 0;
  width: 100%;
  gap: 20px;
  justify-content: center;
}
.nav-menu-green ul li a {
  transition: all 0.3s ease;
}
.nav-menu-green ul li a:hover {
  color: green;
}

.nav-menu-yellow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  align-content: center;
  width: 100%;
}
.nav-menu-yellow ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  align-content: center;
  padding: 10px 0;
  width: 100%;
  gap: 20px;
  justify-content: center;
}
.nav-menu-yellow ul li a {
  transition: all 0.3s ease;
}
.nav-menu-yellow ul li a:hover {
  color: yellow;
}

.spacer {
  width: 80%;
  height: 1px;
  margin: auto;
}

.input-primary {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ddd;
  background-color: #efefef;
  padding: 0 10px;
  line-height: 2em;
  height: 2em;
}
.input-primary:focus {
  outline: none;
  box-shadow: none;
  border-color: #a2a648;
}

.input-secondary {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ddd;
  background-color: #efefef;
  padding: 0 10px;
  line-height: 2em;
  height: 2em;
}
.input-secondary:focus {
  outline: none;
  box-shadow: none;
  border-color: #262626;
}

.input-grey {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ddd;
  background-color: #efefef;
  padding: 0 10px;
  line-height: 2em;
  height: 2em;
}
.input-grey:focus {
  outline: none;
  box-shadow: none;
  border-color: #aaaaaa;
}

.input-white {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ddd;
  background-color: #efefef;
  padding: 0 10px;
  line-height: 2em;
  height: 2em;
}
.input-white:focus {
  outline: none;
  box-shadow: none;
  border-color: white;
}

.input-red {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ddd;
  background-color: #efefef;
  padding: 0 10px;
  line-height: 2em;
  height: 2em;
}
.input-red:focus {
  outline: none;
  box-shadow: none;
  border-color: red;
}

.input-green {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ddd;
  background-color: #efefef;
  padding: 0 10px;
  line-height: 2em;
  height: 2em;
}
.input-green:focus {
  outline: none;
  box-shadow: none;
  border-color: green;
}

.input-yellow {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ddd;
  background-color: #efefef;
  padding: 0 10px;
  line-height: 2em;
  height: 2em;
}
.input-yellow:focus {
  outline: none;
  box-shadow: none;
  border-color: yellow;
}

.accommodations__iframe {
  height: 600px;
}

.modal {
  display: none;
  flex-wrap: wrap;
  padding: 60px;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.modal .modal__close {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  justify-content: flex-end;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
