@use "../variables" as variables;
@use "../base" as base;

.modal {
  display: none;
  flex-wrap: wrap;
  padding: variables.$base-padding * 6;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: variables.$btn-base-radius;

  .modal__close {
    @include base.flex-layout();
    width: 100%;
    justify-content: flex-end;
    cursor: pointer;
  }
}