@use "../colors" as colors;
@use "../variables" as variables;

@mixin btn($bg, $border-color) {
  display: block;
  text-decoration: none;
  background-color: $bg;
  padding: 10px 20px;
  border: 2px solid $border-color;
  border-radius: variables.$btn-base-radius;
  width: fit-content;
  transition: variables.$base-transition;
  font-family: variables.$base-font;
  font-size: 16px;
  line-height: 1.4em;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    transform: scale(1.08);
  }
}

@each $key, $value in colors.$colors {
  .btn-#{$key} {
    @include btn($value, $value);
  }

  .btn-#{$key}-wbg {
    @include btn(transparent, $value);
  }
}
