@charset "UTF-8";
/* FOOTER */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
html {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

p {
  line-height: 1.4rem;
}

.btn {
  position: relative;
  top: 19%;
  border: 2px solid #a2a648;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  padding: 1.3rem;
  margin: auto;
  min-width: 100px;
  max-width: 150px;
  transition: all 0.38s;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #262126;
  font-family: "Ubuntu", sans-serif;
}
.btn:hover {
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}

.footer {
  background-color: #dedede;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.footer_title {
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_list img {
  width: 50%;
  border-radius: 4px;
  margin-bottom: 15px;
}

.footer_icons a {
  color: #282727;
  font-size: 1.6em;
}

.footer_navigation ul li {
  text-decoration: none;
  list-style: none;
  line-height: 40px;
}

.footer_navigation ul li a {
  color: #282727;
  text-decoration: none;
  list-style: none;
  line-height: 40px;
}

.footer_address h3 {
  color: #000000;
}

.footer_address p {
  color: #282727;
}

.footer_contact h3 {
  color: #282727;
}

.footer_contact p {
  color: #282727;
}

.footer_copy {
  background-color: #cbd4c9;
  color: #000000;
  text-align: center;
  font-weight: bold;
  line-height: 4rem;
}

.header,
.header__content,
.header__logo,
.header__image-logo {
  display: flex;
  font-family: "Ubuntu";
}

#hello_user {
  color: white;
}

.header {
  flex-wrap: wrap;
  background-color: #262126;
  justify-content: center;
}

.header__content {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.header__logo {
  flex-basis: 10%;
}

.header__buttons {
  display: flex;
  flex-basis: 22%;
  justify-content: space-around;
  align-items: center;
}

.header__buttons a img {
  filter: invert(100%);
}

/*
.header__buttons a img:hover {
    filter: none;
}
*/
.header__image-logo {
  width: 100%;
  margin-left: 30%;
}

.d-none {
  display: none;
}

.header__menu {
  flex-basis: 100%;
  justify-content: center;
  display: flex;
}

.header__menu-list {
  display: flex;
  list-style-type: none;
}

.header__menu-list li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  /*transition: color .5s ease; */
  transition: background-color 0.5s ease;
  border-radius: 3px;
  margin: 0px 15px;
}

.header__menu-list li a:hover {
  /*color: #a2a648; */
  background-color: #a2a648;
}

.btn img {
  margin-right: 5px;
}

.btn-primary {
  color: white;
  background-color: #a2a648;
  border: 2px solid #a2a648;
  transition: background-color 0.5s ease;
  transition: border 0.4s ease;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #6f7232;
  border-color: #6f7232;
}

.btn-second {
  color: white;
  border: 2px solid #a2a648;
  transition: background-color 0.5s ease;
}

.btn-second:hover {
  background-color: #363136;
}

.header__space {
  height: 2px;
  width: 80%;
  background-color: white;
}

#item1 {
  background-image: url("/src/assets/images/accommodations/quarto-c4.jpg");
  background-size: cover;
}
#item1 h2:before {
  content: "Quaro C Simples";
  display: block;
  background-color: rgba(38, 33, 38, 0.4);
  color: #fff;
  padding: 1rem 0.5rem;
}

#item2 {
  background-image: url("/src/assets/images/accommodations/quarto-c1.jpg");
  background-size: cover;
}
#item2 h2:before {
  content: "Quarto C Simples Aconchegante";
  display: block;
  background-color: rgba(38, 33, 38, 0.4);
  color: #fff;
  padding: 1rem 0.5rem;
}

#item3 {
  background-image: url("/src/assets/images/accommodations/quarto-c2.jpg");
  background-size: cover;
}
#item3 h2:before {
  content: "Quarto C Simples Confortável++";
  display: block;
  background-color: rgba(38, 33, 38, 0.4);
  color: #fff;
  padding: 1rem 0.5rem;
}

#item4 {
  background-image: url("/src/assets/images/accommodations/quarto-c3.jpg");
  background-size: cover;
}
#item4 h2:before {
  content: "Quarto C Tech";
  display: block;
  background-color: rgba(38, 33, 38, 0.4);
  color: #fff;
  padding: 1rem 0.5rem;
}

#item5 {
  background-image: url("/src/assets/images/accommodations/cafe1.jpg");
  background-size: cover;
}
#item5 h2:before {
  content: "Refeitório para seus cafés";
  display: block;
  background-color: rgba(38, 33, 38, 0.4);
  color: #fff;
  padding: 1rem 0.5rem;
}

#item6 {
  background-image: url("/src/assets/images/accommodations/cafe2.jpg");
  background-size: cover;
}
#item6 h2:before {
  content: "Café com os Amigos";
  display: block;
  background-color: rgba(38, 33, 38, 0.4);
  color: #fff;
  padding: 1rem 0.5rem;
}

#item7 {
  background-image: url("/src/assets/images/accommodations/jogos1.jpg");
  background-size: cover;
}
#item7 h2:before {
  content: "Faça a sua Reserva";
  display: block;
  background-color: rgba(38, 33, 38, 0.4);
  color: #fff;
  padding: 1rem 0.5rem;
}

#item8 {
  background-image: url("/src/assets/images/accommodations/quarto-c-plus-plus.jpg");
  background-size: cover;
}
#item8 h2:before {
  content: "Acomodações C++";
  display: block;
  background-color: rgba(38, 33, 38, 0.4);
  color: #fff;
  padding: 1rem 0.5rem;
}

#item9 {
  background-image: url("/src/assets/images/accommodations/quarto-c-sharp.jpg");
  background-size: cover;
}
#item9 h2:before {
  content: "Acomodações C#";
  display: block;
  background-color: rgba(38, 33, 38, 0.4);
  color: #fff;
  padding: 1rem 0.5rem;
}

/*# sourceMappingURL=default_config.css.map */
