.about {
    display: flex;
    height: 100vh;
    justify-content: center;
    min-height: 768px;
    width: 100%;
}

.about__content {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.about__text-content,
.about__img-content {
    display: flex;
    flex-basis: 48%;
    align-items: center;
}

.about__text-content {
    align-content: center;
    flex-wrap: wrap;
}

.about__header {
    display: flex;
    flex-basis: 100%;
}

.about__header, .about__header-title {
    width: 100%;
}

.about__img-content img {
    width: 100%;
    border-radius: 25px;
}

.about__header-title,
.about__description-text,
.about__header-details {
    font-family: 'Ubuntu';
    color: #262126;
}

.about__header-title,
.about__header-details {
    font-size: 36px;
}

.about__description-text {
    font-size: 16px;
}

.about__images {
    display: flex;
    height: 50vh;
    justify-content: center;
    min-height: 50px;
    width: 100%;
}

.about__images-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.about__images-img {
    display: flex;
    flex-basis: 100%;
    align-items: center;
}

.about__images-img img{
    width: 100%;
    border-radius: 25px;
    margin: 1%;
    border-radius: 12px;
    border: 3px solid #a2a648;
    padding: 0.1rem;
    transition: all 0.38s;
    cursor: pointer;
}
.about__images-img img:hover {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}
.about__title-content {
    display: flex;
    justify-content: right;
    min-height: 40px;
    width: 100%;
}
.about__header-details {
    display: flex;
    width: 90%;
}

@media (max-width: 415px) and (orientation:portrait) {
    .about__img-content {
        display: none;
    }
}

.about__button {
    border-radius: 12px;
    border: 2px solid #a2a648;
    padding: 1.5rem;
    width: 2.7rem;
    margin: auto;
    min-width: 100px;
    transition: all 0.38s;
    cursor: pointer;
}

.about__button a {
    display: flex;
    align-content: center;
    text-decoration: none;
    color: #262126;
    font-family: var(--font-padrao);
    justify-content: center;
}

.about__button:hover {
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
}