.gastronomy {
  display: flex;
  height: 100vh;
  justify-content: center;
  min-height: 768px;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 15%;
  background-color: #cbd4c9;
}

.gastronomy_content {
  display: flex;
  flex: 100% 1 1;
  justify-content: space-between;
  width: 80%;
  flex-direction: row;
  margin: 0 9%;
  flex-wrap: wrap;
}

.gastronomy_content > div {
  flex: 200px;
  margin-left: 35px;
  margin-right: 35px;
}

.gastronomy_left_content,
.gastronomy_right_content {
  display: flex;
  flex-basis: 48%;
  align-items: center;
}

.gastronomy_left_content {
  align-content: center;
  flex-wrap: wrap;
}

.gastronomy_header {
  display: flex;
  flex-basis: 100%;
}

.gastronomy_header .gastronomy_title {
  width: 100%;
}

.gastronomy_right_content img {
  border-radius: 25px;
  width: 100%;
}

.gastronomy_title,
.gastronomy_text_description {
  font-family: "Ubuntu";
  color: black;
}

.gastronomy_description {
  margin-bottom: 4vh;
  display: flex;
  flex-direction: column;
}

.gastronomy_title {
  text-align: left;
  font-size: 36px;
}

.gastronomy_text_description {
  font-size: 16px;
  text-align: left;
}

.gastronomy_button {
  border-radius: 12px;
  border: 2px solid #a2a648;
  transition: all 0.38s;
  cursor: pointer;
  background-color: #b4bb2b;
  padding: 20px 40px;
  align-self: center;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 25px;
}

.gastronomy_button:hover {
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}