@use "../../default_config/variaveis" as v;
@use "../../default_config/default_config.scss";

@mixin box {
    margin: 0 auto;
    padding: 1.5rem 0;
    width: 90%;
    position: relative;
}

@mixin flex-center {
    display: flex;
    justify-content: space-evenly;
}

@mixin content {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 25px;
    width: 100%;
    font-family: v.$base-font;
    color: #262126;
    text-align: left;
}

$imgs: (
  "Quarto C Premium": "quarto-c4.jpg",
  "Quarto C Deluxe": "quarto-c1.jpg",
  "Quarto C Super Deluxe": "quarto-c2.jpg",
  "Quarto C Tech": "quarto-c3.jpg",
  "Restaurante": "cafe1.jpg",
  "Coffe Lab Java": "cafe2.jpg",
  "Faça a sua Reserva": "jogos1.jpg",
  "Acomodações C": "quarto-c.jpg",
  "Acomodações C#": "quarto-c-sharp.jpg",
);


$n: 0;
@each $titulo, $url in $imgs {
    $n: $n + 1;
    #item#{$n} {
        background-image: url("/src/assets/images/accommodations/#{$url}");
        background-size: cover;

        & h2:before {
            content: "#{$titulo}";
            display: block;
            background-color: rgba(v.$color-1, 0.4);
            color: #fff;
            padding: 1rem 0.5rem;
        }
    }
}
