@use "../../default_config/default_config.scss";
@use "../../default_config/variaveis" as v;
@use "mixins_c_plus_plus" as mx;

.rooms {
    display: flex;
    margin-top: 8%;

    &__menu {
        display: flex;
        flex: 1 1 100%;
        justify-content: space-between;
        width: 80%;
        margin: 0 9%;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        border-bottom: 2px solid #a2a648;
        padding: 0 10px;
        margin-bottom: auto;

        & a {
            display: flex;
            font-family: "Ubuntu", sans-serif;
            justify-content: center;
            text-decoration: none;
            align-content: center;
            color: black;
            height: min-content;
        }

        &:hover {
            -webkit-transform: scale(1.08);
            -ms-transform: scale(1.08);
            transform: scale(1.08);
        }
    }

    &__content {
        display: flex;
        height: 85vh;
        width: 85%;
        flex-direction: row-reverse;
        margin: 0 7.2%;
        flex-wrap: wrap;

        & div {
            flex: 1 1 200px;
            margin-left: 2.5rem;
            margin-right: 2.5rem;
        }
    }

    &__info {
        /*Excencial para um espaçamento do botão para a imagem em telas mobile.*/
        margin-bottom: 4vh;
    }

    &__description {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__text {
        font-size: 16px;
        @include mx.content;
    }

    &__img {
        & img {
            border-radius: 25px;
            width: 100%;
        }
    }

    &__title {
        @include mx.content;
        display: inline;
        font-size: 36px;
    }
}

.accommodations__rooms {
    @include mx.box;
    @include mx.flex-center;
    flex-wrap: wrap;
    justify-content: space-around;

    .accommodations__card {
        border-radius: 25px;
        width: 31%;
        // margin-right: 0.6rem;
        margin-bottom: 1rem;
        height: 400px;
        // border: 1px solid #000;
        box-shadow: 8px 8px 10px #999;
    }
    #item7 {
        grid-column: 1 / 4;
        width: 85%;
    }

    .card__titulos {
        text-align: center;
    }

    .card__btn {
        position: relative;
        top: 19%;
        border: 2px solid #a2a648;
        display: flex;
        justify-content: center;
        border-radius: 12px;
        padding: 1rem;
        width: 15rem;
        margin: auto;
        min-width: 100px;
        transition: all 0.38s;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        color: v.$color-1;
        font-family: v.$base-font;

        &:hover {
            -webkit-transform: scale(1.08);
            -ms-transform: scale(1.08);
            transform: scale(1.08);
            background-color: rgba(v.$color-2, 0.5);
        }
    }
}

/* Media Query */

@media (max-width: 590px) and (orientation: portrait) {
    .rooms {
        margin-bottom: 55%;
    }

    .rooms__menu {
        display: grid;
        justify-content: center;
        margin: auto;
        border-bottom: 0 10px;
    }

    .rooms__item + div {
        display: none;
    }

    .accommodations__rooms {
        display: block;
        margin: 8% auto auto auto;
        justify-items: center;

        &__card {
            display: block;
            margin-top: 25%;
        }

        #item1,
        #item2,
        #item3,
        #item4,
        #item5,
        #item6 {
            display: none;
        }
    }
}

@media (max-width: 460px) and (orientation: portrait) {
    .rooms__item + div {
        display: none;
    }
}

/* Anotando para não esquecer as alterações, ajustei a  margem para auto para que a borda não ficasse distante do conteúdo, no media query coloquei o display grid, para que os itens ficassem emparelhados ao reduzir a tela, alterei o max-width no emdia query para 590, pois é onde começava a quebrar a nav, e deixei a nav dentro de content, pois estava fora e ficava desalinhado*/
/* Na imagem coloquei um media query visibility hidden para a imagem, pois ela está avançando em Gastronomia, na tela pequena */
