@use "../../default_config/default_config.scss";
@use "../../default_config/variaveis" as v;
@use "mixins_c" as mx;

.rooms {
    display: flex;
    margin-top: 5rem;
    height: 100vh;

    &__content {
        display: flex;
        align-content: center;
        height: 100vh;
        width: 85%;
        flex-direction: row-reverse;
        margin: 0 7.2%;
        flex-wrap: wrap;

        & div {
            flex: 1 1 200px;
            margin-left: 2.5rem;
            margin-right: 2.5rem;
        }
    }

    &__info {
        /*Excencial para um espaçamento do botão para a imagem em telas mobile.*/
        margin-bottom: 4vh;
    }

    &__description {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__text {
        font-size: 16px;
        @include mx.content;
    }

    &__img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        & img {
            min-width: 300px;
            border-radius: 25px;
            width: 100%;
        }
    }

    &__title {
        @include mx.content;
        display: inline;
        font-size: 36px;
    }
}

.accommodations__rooms {
    @include mx.box;
    @include mx.flex-center;
    flex-wrap: wrap;
    justify-content: space-around;

    .accommodations__card {
        display: flex;
        flex-wrap: wrap;
        border-radius: 25px;
        width: 31%;
        margin-bottom: 1rem;
        height: 250px;
        box-shadow: 8px 8px 10px #999;
        justify-content: center;
    }

    .about__images-img img:hover {
        -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
    }
    #item7 {
        width: 85%;
    }

    .card__titulos {
        text-align: center;
        width: 100%;
    }

    .card__btn {
        position: relative;
        top: -2.8rem;
        border: 2px solid #a2a648;
        display: flex;
        justify-content: center;
        border-radius: 12px;
        padding: 1rem;
        width: 15rem;
        margin: auto;
        min-width: 100px;
        transition: all 0.38s;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        color: v.$color-1;
        font-family: v.$base-font;

        &:hover {
            -webkit-transform: scale(1.08);
            -ms-transform: scale(1.08);
            transform: scale(1.08);
            background-color: rgba(v.$color-2, 0.5);
        }
    }
}

/* Media Query */

@media (max-width: 820px) {
    .rooms {
        min-height: 650px;
        margin-top: 8rem;
    }
}

@media (max-width: 590px) {
    .rooms {
        margin-top: 8rem;
    }
    .accommodations__rooms {
        min-width: 300px;
        margin: 8% auto auto auto;
        justify-items: center;
        width: 100%;

        &__card {
            display: block;
            margin-top: 25%;
        }

        #item1,
        #item2,
        #item3,
        #item4,
        #item5,
        #item6,
        #item8,
        #item9 {
            display: none;
        }

        #item7 {
            color: #fff;
        }
    }
}

@media (max-width: 460px) and (orientation: portrait) {
    .rooms {
        margin-top: 12rem;
    }

    .rooms__item + div {
        display: none;
    }
}

/* Anotando para não esquecer as alterações, ajustei a  margem para auto para que a borda não ficasse distante do conteúdo, no media query coloquei o display grid, para que os itens ficassem emparelhados ao reduzir a tela, alterei o max-width no emdia query para 590, pois é onde começava a quebrar a nav, e deixei a nav dentro de content, pois estava fora e ficava desalinhado*/
/* Na imagem coloquei um media query visibility hidden para a imagem, pois ela está avançando em Gastronomia, na tela pequena */
