@charset "UTF-8";
/* FOOTER */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
html {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

p {
    line-height: 1.4rem;
}

.btn {
    border: 2px solid #a2a648;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    padding: 1rem;
    width: 2.5rem;
    margin: auto;
    min-width: 100px;
    max-width: 100px;
    transition: all 0.38s;
    cursor: pointer;
}
.btn a {
    text-decoration: none;
    text-align: center;
    color: #262126;
    font-family: "Ubuntu", sans-serif;
}
.btn:hover {
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
}

.footer {
    background-color: #dedede;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
}

.footer_title {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_list img {
    width: 50%;
    border-radius: 4px;
    margin-bottom: 15px;
}

.footer_icons a {
    color: #282727;
    font-size: 1.6em;
}

.footer_navigation ul li {
    text-decoration: none;
    list-style: none;
    line-height: 40px;
}

.footer_navigation ul li a {
    color: #282727;
    text-decoration: none;
    list-style: none;
    line-height: 40px;
}

.footer_address h3 {
    color: #000000;
}

.footer_address p {
    color: #282727;
}

.footer_contact h3 {
    color: #282727;
}

.footer_contact p {
    color: #282727;
}

.footer_copy {
    background-color: #cbd4c9;
    color: #000000;
    text-align: center;
    font-weight: bold;
    line-height: 4rem;
}

.header,
.header__content,
.header__logo,
.header__image-logo {
    display: flex;
    font-family: "Ubuntu";
}

.header {
    flex-wrap: wrap;
    background-color: #262126;
    justify-content: center;
}

.header__content {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header__logo {
    flex-basis: 10%;
}

.header__buttons {
    display: flex;
    flex-basis: 22%;
    justify-content: space-around;
    align-items: center;
}

.header__buttons a img {
    filter: invert(100%);
}

/*
.header__buttons a img:hover {
    filter: none;
}
*/
.header__image-logo {
    width: 100%;
}

.d-none {
    display: none;
}

.header__menu {
    flex-basis: 100%;
    justify-content: center;
    display: flex;
}

.header__menu-list {
    display: flex;
    list-style-type: none;
}

.header__menu-list li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    /*transition: color .5s ease; */
    transition: background-color 0.5s ease;
    border-radius: 3px;
    margin: 0px 15px;
}

.header__menu-list li a:hover {
    /*color: #a2a648; */
    background-color: #a2a648;
}

.btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
}

.btn img {
    margin-right: 5px;
}

.btn-primary {
    color: white;
    background-color: #a2a648;
    border: 2px solid #a2a648;
    transition: background-color 0.5s ease;
    transition: border 0.4s ease;
}

.btn-primary:hover {
    background-color: #6f7232;
    border-color: #6f7232;
}

.btn-second {
    color: white;
    border: 2px solid #a2a648;
    transition: background-color 0.5s ease;
}

.btn-second:hover {
    background-color: #363136;
}

.header__space {
    height: 2px;
    width: 80%;
    background-color: white;
}

#item1 {
    background-image: url("/src/assets/images/accommodations/quarto-c4.jpg");
    background-size: cover;
}
#item1 h2:before {
    content: "Quaro C Simples";
    display: block;
    background-color: rgba(38, 33, 38, 0.4);
    color: #fff;
    padding: 1rem 0.5rem;
}

#item2 {
    background-image: url("/src/assets/images/accommodations/quarto-c1.jpg");
    background-size: cover;
}
#item2 h2:before {
    content: "Quarto C Simples Aconchegante";
    display: block;
    background-color: rgba(38, 33, 38, 0.4);
    color: #fff;
    padding: 1rem 0.5rem;
}

#item3 {
    background-image: url("/src/assets/images/accommodations/quarto-c2.jpg");
    background-size: cover;
}
#item3 h2:before {
    content: "Quarto C Simples Confortável++";
    display: block;
    background-color: rgba(38, 33, 38, 0.4);
    color: #fff;
    padding: 1rem 0.5rem;
}

#item4 {
    background-image: url("/src/assets/images/accommodations/quarto-c3.jpg");
    background-size: cover;
}
#item4 h2:before {
    content: "Quarto C Tech";
    display: block;
    background-color: rgba(38, 33, 38, 0.4);
    color: #fff;
    padding: 1rem 0.5rem;
}

#item5 {
    background-image: url("/src/assets/images/accommodations/cafe1.jpg");
    background-size: cover;
}
#item5 h2:before {
    content: "Refeitório para seus cafés";
    display: block;
    background-color: rgba(38, 33, 38, 0.4);
    color: #fff;
    padding: 1rem 0.5rem;
}

#item6 {
    background-image: url("/src/assets/images/accommodations/cafe2.jpg");
    background-size: cover;
}
#item6 h2:before {
    content: "Café com os Amigos";
    display: block;
    background-color: rgba(38, 33, 38, 0.4);
    color: #fff;
    padding: 1rem 0.5rem;
}

#item7 {
    background-image: url("/src/assets/images/accommodations/jogos1.jpg");
    background-size: cover;
}
#item7 h2:before {
    content: "Faça a sua Reserva";
    display: block;
    background-color: rgba(38, 33, 38, 0.4);
    color: #fff;
    padding: 1rem 0.5rem;
}

#item8 {
    background-image: url("/src/assets/images/accommodations/quarto-c-plus-plus.jpg");
    background-size: cover;
}
#item8 h2:before {
    content: "Acomodações C++";
    display: block;
    background-color: rgba(38, 33, 38, 0.4);
    color: #fff;
    padding: 1rem 0.5rem;
}

#item9 {
    background-image: url("/src/assets/images/accommodations/quarto-c-sharp.jpg");
    background-size: cover;
}
#item9 h2:before {
    content: "Acomodações C#";
    display: block;
    background-color: rgba(38, 33, 38, 0.4);
    color: #fff;
    padding: 1rem 0.5rem;
}

.rooms {
    display: flex;
    margin-top: 8%;
}
.rooms__menu {
    display: flex;
    flex: 1 1 100%;
    justify-content: space-between;
    width: 80%;
    margin: 0 9%;
    flex-wrap: wrap;
}
.rooms__item {
    display: flex;
    border-bottom: 2px solid #a2a648;
    padding: 0 10px;
    margin-bottom: auto;
}
.rooms__item a {
    display: flex;
    font-family: "Ubuntu", sans-serif;
    justify-content: center;
    text-decoration: none;
    align-content: center;
    color: black;
    height: min-content;
}
.rooms__item:hover {
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
}
.rooms__content {
    display: flex;
    height: 85vh;
    width: 85%;
    flex-direction: row-reverse;
    margin: 0 7.2%;
    flex-wrap: wrap;
}
.rooms__content div {
    flex: 1 1 200px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.rooms__info {
    /*Excencial para um espaçamento do botão para a imagem em telas mobile.*/
    margin-bottom: 4vh;
}
.rooms__description {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.rooms__text {
    font-size: 16px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 25px;
    width: 100%;
    font-family: "Ubuntu", sans-serif;
    color: #262126;
    text-align: left;
}
.rooms__img img {
    border-radius: 25px;
    width: 100%;
}
.rooms__title {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 25px;
    width: 100%;
    font-family: "Ubuntu", sans-serif;
    color: #262126;
    text-align: left;
    display: inline;
    font-size: 36px;
}

.accommodations__rooms {
    min-width: 1170px;
    margin: 0 auto;
    padding: 1.5rem 0;
    width: 90%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-content: space-around;
}
.accommodations__rooms .accommodations__card {
    width: 31%;
    margin-bottom: 1rem;
    height: 400px;
    box-shadow: 8px 8px 10px #999;
}
.accommodations__rooms #item7 {
    grid-column: 1/4;
    width: 85%;
}
.accommodations__rooms .card__titulos {
    text-align: center;
}
.accommodations__rooms .card__btn {
    position: relative;
    top: 19%;
    border: 2px solid #a2a648;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    padding: 1rem;
    width: 15rem;
    margin: auto;
    min-width: 100px;
    transition: all 0.38s;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #262126;
    font-family: "Ubuntu", sans-serif;
}
.accommodations__rooms .card__btn:hover {
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
    background-color: rgba(162, 166, 72, 0.5);
}

/* Media Query */
@media (max-width: 590px) and (orientation: portrait) {
    .rooms {
        margin-bottom: 55%;
    }
    .rooms__menu {
        display: grid;
        justify-content: center;
        margin: auto;
        border-bottom: 0 10px;
    }
    .rooms__item + div {
        display: none;
    }
    .accommodations__rooms {
        display: block;
        margin: 8% auto auto auto;
        justify-items: center;
    }
    .accommodations__rooms__card {
        display: block;
        margin-top: 25%;
    }
    .accommodations__rooms #item1,
    .accommodations__rooms #item2,
    .accommodations__rooms #item3,
    .accommodations__rooms #item4,
    .accommodations__rooms #item5,
    .accommodations__rooms #item6 {
        display: none;
    }
}
@media (max-width: 460px) and (orientation: portrait) {
    .rooms__item + div {
        display: none;
    }
}
/* Anotando para não esquecer as alterações, ajustei a  margem para auto para que a borda não ficasse distante do conteúdo, no media query coloquei o display grid, para que os itens ficassem emparelhados ao reduzir a tela, alterei o max-width no emdia query para 590, pois é onde começava a quebrar a nav, e deixei a nav dentro de content, pois estava fora e ficava desalinhado*/
/* Na imagem coloquei um media query visibility hidden para a imagem, pois ela está avançando em Gastronomia, na tela pequena */

/*# sourceMappingURL=accommodation.css.map */
