$color-1: #262126;
$color-2: #a2a648;
$color-3: #364031;
$color-4: #b3d6ff;
$color-5: #edc374;
$base-font: "Ubuntu", sans-serif;
$font-medium: 1rem;
$font-title: 2.25rem;
$font-extra-large: 2.875rem;
$max-width-container: 1200px;
$min-height-container: 768px;
