@use "colors" as colors;

%base-link {
    font-size: 1rem;
    background-color: transparent;
    border: none;
}

@mixin link($color) {
    @extend %base-link;
    text-decoration: none;
    color: $color;

    &:hover {
        text-decoration: underline;
    }
}

@mixin link-under($color) {
    @extend %base-link;
    text-decoration: underline !important;

    &:hover {
        color: $color !important;
    }
}

@each $key, $value in colors.$colors {
    .link-#{$key} {
        @include link($value); 
    }

    .link-under-#{$key} {
        @include link-under($value);
    }
}