@use "../../default_config/variaveis" as v;
@use "../../default_config/default_config.scss";

@mixin box {
  margin: 0 auto;
  padding: 1.5rem 0;
  width: 90%;
  position: relative;
}

@mixin flex-center {
  display: flex;
  justify-content: space-evenly;
}

@mixin content {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 25px;
  width: 100%;
  font-family: v.$base-font;
  color: #262126;
  text-align: left;
}

$imgs: (
  "Festival de comida Mediterrânea": "mediterranea.jpg",
  "Festival de comida Italina": "italiana.jpg",
  "Festival de Fast-Food": "fastfood.jpg",
  "Festival de comida Mexicana": "mexicana.jpg",
  "Festival de comida Japonesa": "japonesa.jpg",
  "Festival de comida Brasileira": "muqueca.jpg",
);

$n: 0;
@each $titulo, $url in $imgs {
  $n: $n + 1;
  #item#{$n} {
    background-image: url("/src/assets/images/gastronomy/#{url}");
    background-size: cover;
    border: 3px solid #a2a648;

    & h2:before {
      content: "#{$titulo}";
      display: block;
      background-color: rgba(v.$color-1, 0.4);
      color: #fff;
      padding: 1rem 0.5rem;
    }
  }
}
